div#topbar
{
width:100%;
height:70px;
position:fixed;
top:0px;
left:0px;
background-color:#fff;
}
div#topbarinr
{
width:960px;
height:70px;
line-height:70px;
float:none;
margin:0px auto;
}
div#topbarhome
{
width:30px;
height:30px;
padding:20px;
color:#111;
font-size:20px;
background-image:url('http://ramity.com/img/whitecrest.png');
background-size:30px 30px;
background-position:center;
background-color:#409de4;
background-repeat:no-repeat;
}
div.topbaritem
{
width:90px;
height:70px;
float:right;
color:#409de4;
margin-left:10px;
}